extends /template

block content
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

  section.section
    .container
      #goal
        .content
          h1.title.is-4 The Goal
          p Lorem ipseum...
    .container
      #team
        .content
          h1.title.is-4 The Team
            h4.subtitle Project Contributors